list_of_programs
TODO:
Star Pyramid pattern(Right&left patterns)
Half Pyramid pattern
Triangle pattern
Hourglass pattern
Diamond Pattern
Inverted Pyramid pattern
Pascal's triangle pattern
Numbered Patterns
Character Pyramid Pattern
Half Pyramid pattern with characters
K-shaped character pattern