list_of_programs
TODO:
//- Simple Star Pyramid
//- Inverted Star Pyramid pattern
//- Star Pyramid pattern(Right &left half patterns)
//- Inverted left/Right Half Pyramid patterns
Triangle pattern(extra)
//- Hourglass pattern
//- Diamond star/character Patterns
Pascal's triangle pattern
Numbered Patterns(4-types)
Character Pyramid Pattern(3-types)
K-shaped star/character patterns
//- Left/Right sided patterns